<a href="https://colab.research.google.com/github/Octa-p/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [224]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
path = '/content/drive/My Drive/DataViz22_data'

In [ ]:
alldb = pd.read_csv(os.path.join(path, 'alldb.csv'))

In [ ]:
data_file_path = os.path.join(path,'hospital_list.xlsx')  
hospital = pd.read_excel(data_file_path)

In [ ]:
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

# เลือกข้อมูล

In [225]:
alldb_01 = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']]
alldb_01

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

# เตรียมข้อมูล alldb

## Dropna

In [226]:
alldb_dp =alldb_01.dropna()
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [227]:
print (alldb_dp.dtypes)

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

In [228]:
alldb_dp['user'].replace({'45-161':'45161'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

## ต้องการให้ user, site, ov และ PartitionKey เป็นตัวเลขเท่านั้น

In [229]:
import numpy as np

### ทำให้คอลัมน์ที่ต้องการเป็น float โดย errors=’coerce’ คือ ถ้าค่าใดในคอลัมน์ไม่ใช่ค่าตัวเลข จะถูกเปลี่ยนเป็นค่า nan

In [230]:
alldb_dp['user'] = pd.to_numeric(alldb_dp['user'], errors='coerce') #errors=’coerce’, you’ll transform the non-numeric values into NaN.
alldb_dp['site'] = pd.to_numeric(alldb_dp['site'], errors='coerce')
alldb_dp['ov'] = pd.to_numeric(alldb_dp['ov'], errors='coerce')
alldb_dp['PartitionKey'] = pd.to_numeric(alldb_dp['PartitionKey'], errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

### แทนที่ค่าว่าง (nan) ด้วยเลข 5

In [231]:
alldb_dp = alldb_dp.replace(np.nan, 5, regex=True)
alldb_dp['user'] = alldb_dp['user'].astype(int)
alldb_dp['site'] = alldb_dp['site'].astype(int)
alldb_dp['ov'] = alldb_dp['ov'].astype(int)
alldb_dp['PartitionKey'] = alldb_dp['PartitionKey'].astype(int)

In [ ]:
print (alldb_dp.dtypes)

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey     int64
dtype: object

In [ ]:
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,1
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,1
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),3,1
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),3,1
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

## ต้องการให้ RowKey, phone และ urine เป็น String

In [ ]:
alldb_dp['phone']=alldb_dp['phone'].astype('string')

In [ ]:
alldb_dp['RowKey']=alldb_dp['RowKey'].astype('string')

In [ ]:
alldb_dp['urine']=alldb_dp['urine'].astype('string')

In [ ]:
alldb_dp.dtypes

user             int64
RowKey          string
date            object
phone           string
site             int64
time            object
urine           string
ov               int64
PartitionKey     int64
dtype: object

In [ ]:
set(alldb_dp['date'])

{'2022-02-15',
 '2022-02-17',
 '2022-02-18',
 '2022-02-19',
 '2022-02-21',
 '2022-02-22',
 '2022-02-23',
 '2022-02-24',
 '2022-02-25',
 '2022-02-26',
 '2022-02-27',
 '2022-02-28',
 '2022-03-01',
 '2022-03-02',
 '2022-03-03',
 '2022-03-04',
 '2022-03-05',
 '2022-03-06',
 '2022-03-07',
 '2022-03-08',
 '2022-03-09',
 '2022-03-10',
 '2022-03-11',
 '2022-03-12',
 '2022-03-13',
 '2022-03-14',
 '2022-03-15',
 '2022-03-16',
 '2022-03-17',
 '2022-03-18',
 '2022-03-19',
 '2022-03-20',
 '2022-03-21',
 '2022-03-22',
 '2022-03-23',
 '2022-03-24',
 '2022-03-25',
 '2022-03-26',
 '2022-03-27',
 '2022-03-28',
 '2022-03-29',
 '2022-03-30',
 '2022-03-31',
 '2022-04-01',
 '2022-04-02',
 '2022-04-03',
 '2022-04-04',
 '2022-04-05'}

### date เป็น YYYY-MM-DD แล้ว

In [ ]:
alldb_dp['time'] = alldb_dp['time'].replace(':','-', regex=True)

In [ ]:
set(alldb_dp['time'])

{'16-34-48',
 '10-04-36',
 '20-08-20',
 '15-40-06',
 '16-12-32',
 '10-54-14',
 '12-13-26',
 '12-10-24',
 '17-12-48',
 '11-39-31',
 '13-52-00',
 '09-45-05',
 '09-54-01',
 '11-03-35',
 '12-04-29',
 '14-58-51',
 '14-29-19',
 '20-09-46',
 '11-49-25',
 '14-24-59',
 '17-49-41',
 '15-47-45',
 '12-17-05',
 '14-23-53',
 '13-04-21',
 '10-45-44',
 '12-12-42',
 '16-29-34',
 '13-48-30',
 '09-39-33',
 '14-29-49',
 '13-46-58',
 '11-03-52',
 '16-56-53',
 '22-12-06',
 '09-55-46',
 '15-16-45',
 '14-07-54',
 '15-40-36',
 '09-58-12',
 '11-32-25',
 '13-35-52',
 '12-26-46',
 '15-56-14',
 '10-07-14',
 '14-11-33',
 '13-51-28',
 '12-06-36',
 '10-50-26',
 '13-39-52',
 '13-39-56',
 '13-14-57',
 '10-02-30',
 '11-21-05',
 '09-25-41',
 '11-36-07',
 '14-03-36',
 '12-29-25',
 '10-01-26',
 '22-18-46',
 '11-27-38',
 '13-49-10',
 '15-20-47',
 '14-40-09',
 '11-02-46',
 '10-53-13',
 '09-05-08',
 '10-05-05',
 '14-34-43',
 '09-43-14',
 '14-21-29',
 '11-41-51',
 '09-43-27',
 '11-39-17',
 '14-04-17',
 '14-32-29',
 '14-43-56',
 '10-16-33',
 '13-33-35',
 '14-02-26',
 '17-00-55',
 '14-29-36',
 '17-00-51',
 '11-33-41',
 '12-40-26',
 '16-05-29',
 '15-44-27',
 '09-23-46',
 '09-57-49',
 '15-08-22',
 '13-29-08',
 '14-10-50',
 '15-46-23',
 '16-18-02',
 '14-22-05',
 '11-54-51',
 '11-13-12',
 '08-50-29',
 '13-05-03',
 '10-16-26',
 '18-12-58',
 '10-23-54',
 '11-22-08',
 '12-05-51',
 '10-22-56',
 '09-54-14',
 '14-28-02',
 '15-55-19',
 '12-47-25',
 '10-10-42',
 '10-27-56',
 '14-14-11',
 '21-08-10',
 '14-10-08',
 '09-54-46',
 '14-02-33',
 '11-19-17',
 '15-14-56',
 '15-48-59',
 '09-54-00',
 '10-45-25',
 '17-10-05',
 '10-34-16',
 '11-10-40',
 '12-07-33',
 '13-35-14',
 '14-45-08',
 '16-23-46',
 '17-57-58',
 '17-05-33',
 '12-18-25',
 '14-00-11',
 '19-26-44',
 '12-14-44',
 '12-11-42',
 '14-58-30',
 '11-47-33',
 '13-50-28',
 '11-21-42',
 '16-26-31',
 '15-41-24',
 '12-43-42',
 '12-32-46',
 '11-30-30',
 '16-47-27',
 '13-14-02',
 '10-19-59',
 '14-59-20',
 '16-32-42',
 '15-50-52',
 '10-44-06',
 '16-04-32',
 '10-30-44',
 '11-17-49',
 '16-30-25',
 '12-42-46',
 '11-54-22',
 '14-44-49',
 '09-32-50',
 '11-59-56',
 '17-10-57',
 '10-55-56',
 '09-54-05',
 '12-58-23',
 '10-19-52',
 '13-56-11',
 '17-12-15',
 '13-03-36',
 '12-01-34',
 '21-37-05',
 '10-56-10',
 '23-31-00',
 '13-44-03',
 '10-55-01',
 '09-50-53',
 '15-14-23',
 '10-48-30',
 '09-55-42',
 '11-04-18',
 '10-40-13',
 '10-16-43',
 '18-14-20',
 '14-35-05',
 '16-05-11',
 '11-21-56',
 '10-32-10',
 '11-43-57',
 '12-08-34',
 '09-46-20',
 '11-24-42',
 '11-35-15',
 '15-36-13',
 '12-54-09',
 '10-57-00',
 '09-20-09',
 '13-01-20',
 '10-55-21',
 '12-14-43',
 '17-39-57',
 '11-59-16',
 '10-08-27',
 '15-46-34',
 '11-13-04',
 '15-44-31',
 '12-26-26',
 '14-43-30',
 '07-30-12',
 '14-12-17',
 '15-22-53',
 '12-05-20',
 '17-27-38',
 '15-38-50',
 '13-58-46',
 '15-59-00',
 '09-17-12',
 '09-50-19',
 '11-47-41',
 '12-17-53',
 '11-54-23',
 '12-17-50',
 '14-34-05',
 '14-47-46',
 '11-39-27',
 '10-53-52',
 '15-28-55',
 '12-12-38',
 '10-41-29',
 '12-16-32',
 '10-39-13',
 '12-03-30',
 '14-24-12',
 '15-31-34',
 '17-26-55',
 '16-05-53',
 '11-54-55',
 '08-30-40',
 '15-08-27',
 '14-43-23',
 '16-57-48',
 '17-24-52',
 '12-16-37',
 '10-09-17',
 '17-06-28',
 '09-17-31',
 '13-34-37',
 '11-07-34',
 '09-38-00',
 '18-40-33',
 '11-17-52',
 '13-05-51',
 '10-46-56',
 '10-35-40',
 '15-03-57',
 '15-28-14',
 '12-06-37',
 '09-53-11',
 '11-11-18',
 '13-29-53',
 '16-42-46',
 '14-33-59',
 '21-40-53',
 '09-23-01',
 '12-12-27',
 '16-28-47',
 '09-07-56',
 '11-14-23',
 '09-23-02',
 '14-08-43',
 '13-54-44',
 '14-33-25',
 '13-41-22',
 '15-04-02',
 '16-34-44',
 '11-34-34',
 '16-10-57',
 '21-36-23',
 '09-49-53',
 '13-51-19',
 '09-58-42',
 '11-06-12',
 '10-22-22',
 '13-11-51',
 '17-42-29',
 '16-58-54',
 '15-48-42',
 '18-44-41',
 '16-42-00',
 '14-38-43',
 '15-14-13',
 '17-51-15',
 '12-15-28',
 '09-20-36',
 '14-23-58',
 '15-20-18',
 '11-40-46',
 '15-00-50',
 '12-25-24',
 '13-00-31',
 '09-19-05',
 '17-19-05',
 '18-27-29',
 '12-11-37',
 '12-37-23',
 '14-14-12',
 '14-46-26',
 '13-39-05',
 '10-08-23',
 '10-12-14',
 '14-28-32',
 '12-49-16',
 '09-23-05',
 '14-41-48',
 '12-35-48',
 '09-34-33',
 '22-15-28',
 '16-15-27',
 '16-53-28',
 '13-00-39',
 '11-29-17',
 '15-13-08',
 '17-40-40',
 '09-26-29',
 '12-25-11',
 '15-50-30',
 '12-39-46',
 '10-03-30',
 '13-34-27',
 '15-36-05',
 '14-55-59',
 '09-34-05',
 '15-48-18',
 '14-42-13',
 '11-41-00',
 '15-10-56',
 '10-57-55',
 '18-03-50',
 '14-06-35',
 '14-25-49',
 '11-52-13',
 '13-34-04',
 '15-22-16',
 '15-26-29',
 '21-30-35',
 '11-10-50',
 '11-33-47',
 '15-02-43',
 '14-03-17',
 '16-11-32',
 '11-23-49',
 '12-48-08',
 '15-11-17',
 '09-38-35',
 '12-24-59',
 '15-42-24',
 '10-50-46',
 '12-08-59',
 '09-50-12',
 '13-26-49',
 '09-59-08',
 '10-44-51',
 '15-52-30',
 '13-58-25',
 '10-24-40',
 '13-08-29',
 '16-31-38',
 '11-04-42',
 '11-42-24',
 '09-42-08',
 '11-42-42',
 '09-39-41',
 '16-50-06',
 '09-43-41',
 '11-44-21',
 '18-08-39',
 '11-36-13',
 '13-12-33',
 '11-48-13',
 '11-19-29',
 '10-35-48',
 '16-45-03',
 '09-56-52',
 '13-50-15',
 '12-45-15',
 '12-49-12',
 '20-22-38',
 '10-08-01',
 '12-48-30',
 '15-54-07',
 '14-44-05',
 '13-54-47',
 '11-47-50',
 '12-51-23',
 '17-14-06',
 '11-22-27',
 '16-41-52',
 '10-35-10',
 '14-24-27',
 '11-36-56',
 '13-28-10',
 '11-27-08',
 '12-46-56',
 '10-06-40',
 '09-42-48',
 '11-54-35',
 '09-29-21',
 '13-24-11',
 '15-18-59',
 '11-27-28',
 '14-44-01',
 '09-30-26',
 '13-35-37',
 '15-05-09',
 '15-04-17',
 '11-57-55',
 '12-38-33',
 '12-00-23',
 '09-28-01',
 '10-47-42',
 '11-20-46',
 '12-37-58',
 '13-55-30',
 '14-54-38',
 '19-50-57',
 '19-41-14',
 '11-01-23',
 '15-48-08',
 '09-42-10',
 '11-18-28',
 '13-22-20',
 '09-52-46',
 '11-10-29',
 '14-01-50',
 '10-06-23',
 '11-37-35',
 '10-32-31',
 '12-03-08',
 '10-19-50',
 '13-12-50',
 '12-35-25',
 '10-20-52',
 '16-14-47',
 '13-15-25',
 '16-13-55',
 '14-41-20',
 '11-22-44',
 '14-03-13',
 '10-02-11',
 '14-52-42',
 '08-08-21',
 '10-02-46',
 '15-59-28',
 '14-36-01',
 '15-50-31',
 '22-15-20',
 '10-12-48',
 '09-31-24',
 '14-07-36',
 '10-24-33',
 '10-22-35',
 '10-07-12',
 '09-57-51',
 '16-55-49',
 '14-52-31',
 '14-11-11',
 '11-50-27',
 '15-34-48',
 '14-49-50',
 '16-10-09',
 '07-07-35',
 '14-59-09',
 '13-50-43',
 '13-47-56',
 '12-45-31',
 '10-43-58',
 '10-57-37',
 '12-23-05',
 '15-25-42',
 '16-00-26',
 '12-51-27',
 '12-27-37',
 '12-02-08',
 '10-40-35',
 '15-06-12',
 '09-28-21',
 '10-43-26',
 '18-52-20',
 '10-30-29',
 '12-50-39',
 '12-03-41',
 '16-38-30',
 '10-07-55',
 '12-12-32',
 '12-19-30',
 '19-55-42',
 '15-58-31',
 '14-34-01',
 '11-06-36',
 '10-19-04',
 '09-05-28',
 '15-41-43',
 '14-32-55',
 '06-41-39',
 '14-06-05',
 '08-31-35',
 '09-42-34',
 '12-26-07',
 '13-30-23',
 '12-31-40',
 '13-56-12',
 '10-58-22',
 '13-33-54',
 '10-11-35',
 '09-15-06',
 '10-22-07',
 '10-56-42',
 '09-20-07',
 '12-54-15',
 '16-28-48',
 '12-12-40',
 '14-35-18',
 '10-54-30',
 '10-19-49',
 '15-14-07',
 '13-51-16',
 '11-43-34',
 '10-39-24',
 '16-59-38',
 '16-30-29',
 '17-10-44',
 '09-53-31',
 '12-06-59',
 '10-22-11',
 '16-42-29',
 '10-37-33',
 '10-58-56',
 '12-08-19',
 '11-04-55',
 '15-03-09',
 '09-59-41',
 '10-12-40',
 '13-28-52',
 '17-30-57',
 '12-11-17',
 '10-56-21',
 '10-42-24',
 '11-58-48',
 '17-02-39',
 '12-34-49',
 '09-50-18',
 '17-16-57',
 '12-30-06',
 '09-17-52',
 '21-07-15',
 '10-16-53',
 '11-07-39',
 '15-55-52',
 '11-02-10',
 '10-26-59',
 '10-34-43',
 '14-24-23',
 '11-47-18',
 '13-50-14',
 '11-49-42',
 '09-08-23',
 '11-24-56',
 '14-34-10',
 '09-39-26',
 '11-52-32',
 '14-51-30',
 '16-59-18',
 '15-19-47',
 '12-19-45',
 '09-38-51',
 '17-42-14',
 '13-42-31',
 '15-32-52',
 '10-54-20',
 '14-26-13',
 '14-48-46',
 '14-56-28',
 '10-21-39',
 '13-05-46',
 '11-36-41',
 '11-58-05',
 '11-00-13',
 '09-43-06',
 '11-17-34',
 '15-51-27',
 '10-49-14',
 '10-50-35',
 '10-59-03',
 '13-54-17',
 '16-04-54',
 '11-19-37',
 '12-33-18',
 '14-48-49',
 '13-50-47',
 '15-05-08',
 '12-00-46',
 '17-37-37',
 '10-37-28',
 '16-16-11',
 '12-04-03',
 '09-47-34',
 '10-33-18',
 '13-46-28',
 '10-44-14',
 '15-10-13',
 '16-54-06',
 '09-33-01',
 '10-40-30',
 '13-54-38',
 '11-01-12',
 '11-47-04',
 '14-27-26',
 '10-14-22',
 '11-35-58',
 '12-00-45',
 '13-26-52',
 '10-53-01',
 '10-38-09',
 '11-08-59',
 '11-40-38',
 '18-23-01',
 '13-47-37',
 '21-30-58',
 '16-07-30',
 '16-40-29',
 '15-17-42',
 '13-25-01',
 '15-04-25',
 '13-49-39',
 '12-02-00',
 '16-57-24',
 '11-42-23',
 '13-44-49',
 '13-57-47',
 '13-38-33',
 '18-06-23',
 '10-26-10',
 '09-31-07',
 '09-54-17',
 '11-55-19',
 '09-22-48',
 '18-06-38',
 '14-17-28',
 '10-04-50',
 '18-09-29',
 '08-46-56',
 '11-07-38',
 '13-23-52',
 '14-24-36',
 '16-58-08',
 '13-19-39',
 '16-00-47',
 '10-24-45',
 '14-52-53',
 '15-36-20',
 '15-55-01',
 '13-08-09',
 '10-56-22',
 '11-51-16',
 '10-05-30',
 '14-25-19',
 '17-03-04',
 '12-10-10',
 '14-40-51',
 '09-49-59',
 '09-42-28',
 '10-18-16',
 '11-33-56',
 '11-58-04',
 '14-10-16',
 '11-00-26',
 '10-41-23',
 '10-57-38',
 '11-55-41',
 '19-18-53',
 '09-58-46',
 '14-04-30',
 '14-51-46',
 '11-37-52',
 '15-32-24',
 '10-08-56',
 '15-51-07',
 '14-58-05',
 '12-18-05',
 '15-51-01',
 '14-54-39',
 '19-16-36',
 '11-57-40',
 '14-09-41',
 '13-59-45',
 '11-43-46',
 '09-52-24',
 '13-57-04',
 '14-58-08',
 '14-49-27',
 '15-07-11',
 '09-38-06',
 '12-29-07',
 '17-07-44',
 '10-26-40',
 '21-18-47',
 '11-56-57',
 '09-58-32',
 '13-18-08',
 '15-07-41',
 '11-52-57',
 '14-56-55',
 '09-50-35',
 '12-25-55',
 '14-07-28',
 '14-26-39',
 '10-48-28',
 '14-34-12',
 '15-15-50',
 '11-09-27',
 '10-19-54',
 '11-09-23',
 '16-29-24',
 '16-29-16',
 '14-36-50',
 '11-09-48',
 '14-28-23',
 '13-08-08',
 '11-04-03',
 '16-09-29',
 '15-53-39',
 '09-41-10',
 '11-25-21',
 '20-11-02',
 '15-02-39',
 '13-54-35',
 '11-10-31',
 '10-38-16',
 '12-31-56',
 '11-59-12',
 '11-29-51',
 '19-12-12',
 '10-20-48',
 '16-24-36',
 '10-24-32',
 '16-20-58',
 '14-20-19',
 '14-33-44',
 '11-04-49',
 '11-04-08',
 '08-58-31',
 '09-07-00',
 '15-05-26',
 '12-10-11',
 '09-29-39',
 '08-44-43',
 '11-38-42',
 '15-57-30',
 '13-05-16',
 '11-35-10',
 '12-00-00',
 '15-26-22',
 '15-53-26',
 '19-40-12',
 '12-18-07',
 '15-10-53',
 '12-44-12',
 '15-09-27',
 '10-25-13',
 '11-46-11',
 '12-25-49',
 '16-33-10',
 '14-25-17',
 '09-57-40',
 '13-47-11',
 '15-35-04',
 '20-09-04',
 '12-12-49',
 '15-25-24',
 '15-06-16',
 '09-45-57',
 '15-23-51',
 '15-40-41',
 '12-31-42',
 '09-55-40',
 '10-02-29',
 '19-50-50',
 '10-09-27',
 '14-51-57',
 '13-55-01',
 '14-47-07',
 '09-53-43',
 '14-00-56',
 '09-31-41',
 '10-08-47',
 '09-50-30',
 '10-36-54',
 '15-54-26',
 '17-20-37',
 '15-01-29',
 '14-29-59',
 '13-14-17',
 '10-05-42',
 '15-59-03',
 '12-35-24',
 '15-18-43',
 '13-33-28',
 '12-49-34',
 '23-57-17',
 '14-48-18',
 '15-28-20',
 '16-07-38',
 '14-37-20',
 '10-40-12',
 '22-01-40',
 '15-06-37',
 '09-13-31',
 '20-42-40',
 '11-04-56',
 '10-02-27',
 '11-23-38',
 '14-46-05',
 '14-41-22',
 '13-46-30',
 '16-29-51',
 '11-22-41',
 '13-33-23',
 '09-19-17',
 '13-31-48',
 '10-39-05',
 '13-35-11',
 '12-52-42',
 '14-40-45',
 '11-55-31',
 '14-47-47',
 '10-48-18',
 '10-55-17',
 '15-36-07',
 '11-43-12',
 '16-34-42',
 '15-40-11',
 '19-57-14',
 '10-43-29',
 '10-34-20',
 '15-37-37',
 '17-04-55',
 '11-33-46',
 '16-21-08',
 '14-35-11',
 '09-27-53',
 '10-36-56',
 '18-24-53',
 '21-50-18',
 '21-58-11',
 '14-06-02',
 '16-14-39',
 '11-09-25',
 '14-01-45',
 '10-45-00',
 '16-07-59',
 '09-59-38',
 '16-06-34',
 '08-08-06',
 '14-34-33',
 '09-14-03',
 '08-57-26',
 '16-08-58',
 '13-28-11',
 '10-45-06',
 '14-31-46',
 '09-04-04',
 '16-05-04',
 '16-31-58',
 '11-50-04',
 '09-40-46',
 '06-55-04',
 '09-53-45',
 '10-54-25',
 '21-07-06',
 '10-01-58',
 '11-18-16',
 '16-17-15',
 '09-46-34',
 '09-38-38',
 '12-24-26',
 '09-56-12',
 '09-30-52',
 '12-48-14',
 '12-17-55',
 '11-25-29',
 '13-49-54',
 '09-36-09',
 '10-06-02',
 '12-44-57',
 '12-22-44',
 '10-58-24',
 '08-38-27',
 '10-59-23',
 '10-29-49',
 '10-21-57',
 '10-15-27',
 '10-23-16',
 '10-45-18',
 '10-29-56',
 '11-58-15',
 '09-53-07',
 '14-14-00',
 '11-58-06',
 '11-32-18',
 '10-33-20',
 '10-11-20',
 '15-14-17',
 '11-35-41',
 '13-55-31',
 '12-27-35',
 '16-46-57',
 '14-31-32',
 '09-37-59',
 '10-14-02',
 '09-34-10',
 '09-28-53',
 '14-49-29',
 '16-15-20',
 '17-53-03',
 '23-26-05',
 '09-30-42',
 '11-55-32',
 '15-17-54',
 '16-36-53',
 '09-06-02',
 '16-06-54',
 '11-46-12',
 '13-05-34',
 '12-06-53',
 '09-40-33',
 '14-29-04',
 '11-27-37',
 '11-18-56',
 '21-21-34',
 '13-54-00',
 '08-50-51',
 '14-56-34',
 '13-54-06',
 '12-02-05',
 '10-51-03',
 '10-13-46',
 '11-38-57',
 '11-40-56',
 '14-25-31',
 '13-40-54',
 '14-14-22',
 '12-18-18',
 '15-49-08',
 '12-56-38',
 '10-05-35',
 '15-10-55',
 '13-30-26',
 '11-31-48',
 '16-02-35',
 '12-26-27',
 '11-51-14',
 '11-42-18',
 '10-21-55',
 '11-46-37',
 '10-42-06',
 '10-39-57',
 '09-23-38',
 '09-08-06',
 '09-29-07',
 '21-09-19',
 '11-47-12',
 '11-55-35',
 '15-24-18',
 '16-23-55',
 '09-57-43',
 '14-18-07',
 '14-16-28',
 '18-32-28',
 '09-40-32',
 '09-48-48',
 '09-44-56',
 '17-37-53',
 '09-30-27',
 '12-18-28',
 '12-05-28',
 '17-05-01',
 '09-31-04',
 '11-42-07',
 '16-53-08',
 '10-33-35',
 '10-34-04',
 '09-31-54',
 '21-56-44',
 '11-37-50',
 '10-26-34',
 '10-48-43',
 '10-58-32',
 '15-25-37',
 '09-56-00',
 '12-08-56',
 '11-14-33',
 '11-56-15',
 ...}

### time เป็น hh-mm-ss แล้ว

### ทำให้ user เป็นตัวเลข 5 หลัก

In [ ]:
TF=list()
for each_row in alldb_dp.iterrows():
    if (9999 < each_row[1]['user'] < 100000):  #each_row คือ ตัวเลข
        TF.append(True) # ถ้าอยู่ในเงื่อนไขจะนำแถวนั้นมาต่อกัน
    else:
        TF.append(False) # ถ้าไม่อยู่จะตัดทิ้งออกไป

alldb_dp1= alldb_dp[TF]

In [ ]:
alldb_dp1.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,10-16-46,ปกติ (เหลืองใส),3,1
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",5059,12-26-38,ปกติ (เหลืองใส),3,1
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",6334,14-57-41,ปกติ (เหลืองใส),0,1

In [ ]:
TF2=list()
for each_row in alldb_dp1.iterrows():
    if (9999 < each_row[1]['site'] < 100000):  
        TF2.append(True)
    else:
        TF2.append(False)

alldb_dp2= alldb_dp1[TF2]

In [ ]:
alldb_dp2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
203,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1
208,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1
221,76486,73F5F082-6877-4C1F-971D-0485621C1D94,2022-03-18,"iPhone12,1",13949,15-09-50,ปกติ (เหลืองใส),2,1
224,51235,76E4E69A-2C96-4B9D-BF7E-B97D64D3277D,2022-03-21,"iPhone13,3",13987,11-21-56,ปกติ (เหลืองใส),0,1
228,61813,7EED02D6-47C8-4AEE-9B88-5DFBD7836508,2022-03-03,"iPhone12,3",13777,15-59-20,มีเม็ดเลือดแดง,2,1
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999

In [ ]:
TF3=list()
for each_row in alldb_dp2.iterrows():
    if (9999 < each_row[1]['PartitionKey'] < 100000):  
        TF3.append(True)
    else:
        TF3.append(False)

alldb_dp3= alldb_dp2[TF3]

In [ ]:
alldb_dp3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
39370,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961
39371,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962
39372,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963
39373,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964
39374,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999

In [ ]:
alldb_dp3 # เลข 5 หลักจะสิ้นสุดที่ตารางนี้

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
39370,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961
39371,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962
39372,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963
39373,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964
39374,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999

In [ ]:
set(alldb_dp3['user'])

{10982, 11111, 11177, 26462, 68768, 80880, 99999}

In [ ]:
set(alldb_dp3['RowKey'])

{'10CBBBC5-3BAC-4927-93B1-24918834B166',
 '175FB31A-048A-455E-8499-273F91EF3F4D',
 '1CE25D88-8ED6-46C8-8EBD-DE2D5F89EB7F',
 '1DC79374-143A-475F-97C8-0C760A174F08',
 '2B2C2FAA-3007-46DF-950D-443F3AEB1C98',
 '3340619E-D3F4-4090-B3D0-B6CDF1D9F370',
 '40A5A14E-33E1-4246-95A7-9757D184BC39',
 '4648F57F-E9AD-468B-9E56-E2844626C772',
 '4F5DB9B6-51DC-474F-B095-34121E657D3B',
 '5B84AD38-B2FA-4741-B380-7B732C38D230',
 '5CB6F5EB-324D-448C-84AD-C9D48B23684E',
 '5CF89F00-A898-4BB6-B42A-06CC7EBD3114',
 '65DE7A37-62D2-4B7F-A494-89A89D5594A7',
 '6C55B69E-8E4C-46B0-B0D7-4754A529EE3C',
 '6F95D193-3E3D-452D-99BD-705D0271030F',
 '7B050412-1100-4397-9688-175B92B851C9',
 '7BB0E403-CEC8-4860-A4B9-C9487B18CDC5',
 '802C57BE-29DF-4625-A347-3955789AE0FF',
 '85F0F443-D3B6-40DD-BD69-81C8D696E0DC',
 '899A7591-50C9-40BC-9746-A831A08DE980',
 '9438FD60-2EED-4FC1-BDE0-3AE05A3317BF',
 '97F01805-4C0F-4478-9D0F-FF6A5A0B45B5',
 '9B2969BF-F999-43AD-A082-AFFF7615AEC7',
 'A2DB4F66-2F3A-4C0C-9D29-8A9073F21935',
 'A6D69321-ED1F-457D-B615-6F4C1F600C01',
 'AD576EF3-4128-4DCD-93CB-63494C69F326',
 'AD73A95C-3C91-42DA-85AC-00AE0524FAEE',
 'B3DC973C-22A6-4FC3-B06A-8058204F80EB',
 'B7F36631-D2C4-4EB5-852D-790BFAFDFD71',
 'BF39F27C-1B43-4C97-A034-D7A579BED2B6',
 'C38927EF-F10C-4A5D-A7CA-E22DC7A70BAD',
 'C4DAA911-AC32-413D-99DC-880D598208B4',
 'CF0A47B9-752D-4FC9-A96F-DDC08AAA2247',
 'D713CB5A-AE59-4FA7-9387-39C0B766120A',
 'D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663',
 'D8D8751F-7259-429A-98AE-431346C74317',
 'E2371023-E100-4255-BB0A-9314D26674FC',
 'EEE6C967-D8B0-488F-A05A-828026E74D7C',
 'EF66DB5E-518F-43A4-A071-4548470CDC2C',
 'F2CF944B-F616-443F-9DD9-3D077BF40141',
 'F45E78D3-7D89-47A3-8207-C705377E0E0A',
 'FA4AB630-0269-4445-8439-D22139951BC1',
 'FF5EA455-7093-4F87-B00C-CD84B563F7DE',
 'alevoqyzru.png',
 'bfceftfurl.png',
 'byyhydmqlz.png',
 'cjukggkdgy.png',
 'cywpeqziic.png',
 'dghzdcrtay.png',
 'edquaqyuia.png',
 'eehzjpxnjw.png',
 'emcshsfjwi.png',
 'fezuexxmnv.png',
 'frvgwohzcx.png',
 'fvygcngevl.png',
 'gukjamcmkc.png',
 'ieotqfnqcq.png',
 'iwwwnyrmtz.png',
 'jajxlriszt.png',
 'jdmhexxudc.png',
 'jvbisyqqsu.png',
 'lnlohgqckf.png',
 'lybdixwhaq.png',
 'lyqpzibhsh.png',
 'mnoycjbkar.png',
 'pnqumypemv.png',
 'qukpkgoxfp.png',
 'rkkutomafv.png',
 'rryhjijyje.png',
 'sxzmzrsmyf.png',
 'uvjpltipuw.png',
 'vanquopswi.png',
 'vcubzchjxv.png',
 'vdnnojfhka.png',
 'vdxxgljykj.png',
 'vkdocpmjiv.png',
 'vmenrqvavo.png',
 'vqkgeemfhy.png',
 'vrvyfnvayq.png',
 'vzenektyaa.png',
 'wgxurysjec.png',
 'willjicqkd.png',
 'wpnaiylzxi.png',
 'zjcmumrvpp.png',
 'zkddsdiwzw.png',
 'zuhbtvyrce.png'}

In [ ]:
set(alldb_dp3['phone'])

{'OPPO CPH1819',
 'Samsung SM-G998B',
 'Vivo 1920',
 'Vivo V2050',
 'iPhone11,8',
 'iPhone12,1',
 'iPhone13',
 'iPhone13,3',
 'iPhone13,4',
 'iPhone14,2'}

In [ ]:
set(alldb_dp3['site'])

{11069, 11088, 11111, 11163, 22222, 99999}

In [ ]:
set(alldb_dp3['urine'])

{'ขุ่น',
 'ขุ่น, มีเม็ดเลือดแดง',
 'ปกติ (เหลืองใส)',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า',
 'มีตะกอน',
 'มีเม็ดเลือดแดง',
 'สีฟ้า หรือน้ำเงิน',
 'สีเหลืองส้ม (ผิดปกติ)',
 'ใสเป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า'}

In [ ]:
set(alldb_dp3['ov'])

{0, 1, 2, 3, 4}

In [ ]:
set(alldb_dp3['PartitionKey'])

{10961,
 10962,
 10963,
 10964,
 10965,
 10966,
 10967,
 10968,
 10969,
 10970,
 10971,
 10972,
 10973,
 10974,
 10975,
 10976,
 10977,
 10978,
 10979,
 10980,
 10981,
 10982,
 10983,
 10984,
 10985,
 10986,
 10987,
 10988,
 10989,
 10990,
 10991,
 10992,
 10993,
 10995,
 10996,
 10997,
 10998,
 10999,
 11000,
 11002,
 11003,
 11005,
 11006,
 11007,
 11008,
 11111,
 11163,
 22222,
 33333,
 44147,
 72093,
 87606,
 87720,
 88432,
 89170,
 90470,
 91123,
 99444,
 99999}

# เตรียมข้อมูล hospital

In [ ]:
hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [ ]:
hospital.isnull().any()

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

In [ ]:
hospital_dp = hospital.dropna()
hospital_dp

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [ ]:
hospital_dp.shape

(11798, 16)

In [ ]:
removes = hospital.shape[0] - hospital_dp.shape[0]
print(f'size before drop = {hospital.shape[0]}')
print(f'size after drop = {hospital_dp.shape[0]}')
print(f'% from drop = {(removes/hospital.shape[0])*100}')

size before drop = 17103
size after drop = 11798
% from drop = 31.017950067239664

## แทนข้อมูล fillna()

In [ ]:
hospital_c = hospital.fillna(value={'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','name5':'ไม่ระบุ','name10':'ไม่ระบุ','short_thai':'ไม่ระบุ','short_english':'ไม่ระบุ'})
hospital_c

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

## แทนข้อมูลด้วย mean

In [ ]:
pc = hospital_c[['provincecode']].mean() 
hospital_c[['provincecode']] = hospital_c[['provincecode']].fillna(pc)

In [ ]:
ac = hospital_c[['amphurcode']].mean() 
hospital_c[['amphurcode']] = hospital_c[['amphurcode']].fillna(ac)

In [ ]:
tc = hospital_c[['tamboncode']].mean() 
hospital_c[['tamboncode']] = hospital_c[['tamboncode']].fillna(tc)

In [ ]:
c4 = hospital_c[['code4']].mean() 
hospital_c[['code4']] = hospital_c[['code4']].fillna(c4)

In [ ]:
c9 = hospital_c[['code9']].mean() 
hospital_c[['code9']] = hospital_c[['code9']].fillna(c9)

In [ ]:
hospital_c.isnull().any()

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## เปลี่ยน hcode ให้เป็น int

In [ ]:
hospital_c['hcode'] = pd.to_numeric( hospital_c['hcode'], errors='coerce')

In [ ]:
set(hospital_c['hcode'])

{nan,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 246.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 263.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 276.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 282.0,
 283.0,
 284.0,
 285.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 294.0,
 295.0,
 296.0,
 297.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 303.0,
 304.0,
 305.0,
 306.0,
 307.0,
 308.0,
 309.0,
 310.0,
 311.0,
 312.0,
 313.0,
 314.0,
 315.0,
 316.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 322.0,
 323.0,
 324.0,
 325.0,
 326.0,
 327.0,
 328.0,
 329.0,
 330.0,
 331.0,
 332.0,
 333.0,
 334.0,
 335.0,
 336.0,
 337.0,
 338.0,
 339.0,
 340.0,
 341.0,
 342.0,
 343.0,
 344.0,
 345.0,
 346.0,
 347.0,
 348.0,
 349.0,
 350.0,
 351.0,
 352.0,
 353.0,
 354.0,
 355.0,
 356.0,
 357.0,
 358.0,
 359.0,
 360.0,
 361.0,
 362.0,
 363.0,
 364.0,
 365.0,
 366.0,
 367.0,
 368.0,
 369.0,
 370.0,
 371.0,
 372.0,
 373.0,
 374.0,
 375.0,
 376.0,
 377.0,
 378.0,
 379.0,
 380.0,
 381.0,
 382.0,
 383.0,
 384.0,
 385.0,
 386.0,
 387.0,
 388.0,
 389.0,
 390.0,
 391.0,
 392.0,
 393.0,
 394.0,
 395.0,
 396.0,
 397.0,
 398.0,
 399.0,
 400.0,
 401.0,
 402.0,
 403.0,
 404.0,
 405.0,
 406.0,
 407.0,
 408.0,
 409.0,
 410.0,
 411.0,
 412.0,
 413.0,
 414.0,
 415.0,
 416.0,
 417.0,
 418.0,
 419.0,
 420.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 435.0,
 436.0,
 437.0,
 438.0,
 439.0,
 440.0,
 441.0,
 442.0,
 443.0,
 444.0,
 445.0,
 446.0,
 447.0,
 448.0,
 449.0,
 450.0,
 451.0,
 452.0,
 453.0,
 454.0,
 455.0,
 456.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 462.0,
 463.0,
 464.0,
 465.0,
 466.0,
 467.0,
 468.0,
 469.0,
 470.0,
 471.0,
 472.0,
 473.0,
 474.0,
 475.0,
 476.0,
 477.0,
 478.0,
 479.0,
 480.0,
 481.0,
 482.0,
 483.0,
 484.0,
 485.0,
 486.0,
 487.0,
 488.0,
 489.0,
 490.0,
 491.0,
 492.0,
 493.0,
 494.0,
 495.0,
 496.0,
 497.0,
 498.0,
 499.0,
 500.0,
 501.0,
 502.0,
 503.0,
 504.0,
 505.0,
 506.0,
 507.0,
 508.0,
 509.0,
 510.0,
 511.0,
 512.0,
 513.0,
 514.0,
 515.0,
 516.0,
 517.0,
 518.0,
 519.0,
 520.0,
 521.0,
 522.0,
 523.0,
 524.0,
 525.0,
 526.0,
 527.0,
 528.0,
 529.0,
 530.0,
 531.0,
 532.0,
 533.0,
 534.0,
 535.0,
 536.0,
 537.0,
 538.0,
 539.0,
 540.0,
 541.0,
 542.0,
 543.0,
 544.0,
 545.0,
 546.0,
 547.0,
 548.0,
 549.0,
 550.0,
 551.0,
 552.0,
 553.0,
 554.0,
 555.0,
 556.0,
 557.0,
 558.0,
 559.0,
 560.0,
 561.0,
 562.0,
 563.0,
 564.0,
 565.0,
 566.0,
 567.0,
 568.0,
 569.0,
 570.0,
 571.0,
 572.0,
 573.0,
 574.0,
 575.0,
 576.0,
 577.0,
 578.0,
 579.0,
 580.0,
 581.0,
 582.0,
 583.0,
 584.0,
 585.0,
 586.0,
 587.0,
 588.0,
 589.0,
 590.0,
 591.0,
 592.0,
 593.0,
 594.0,
 595.0,
 596.0,
 597.0,
 598.0,
 599.0,
 600.0,
 601.0,
 602.0,
 603.0,
 604.0,
 605.0,
 606.0,
 607.0,
 608.0,
 609.0,
 610.0,
 611.0,
 612.0,
 613.0,
 614.0,
 615.0,
 616.0,
 617.0,
 618.0,
 619.0,
 620.0,
 621.0,
 622.0,
 623.0,
 624.0,
 625.0,
 626.0,
 627.0,
 628.0,
 629.0,
 630.0,
 631.0,
 632.0,
 633.0,
 634.0,
 635.0,
 636.0,
 637.0,
 638.0,
 639.0,
 640.0,
 641.0,
 642.0,
 643.0,
 644.0,
 645.0,
 646.0,
 647.0,
 648.0,
 649.0,
 650.0,
 651.0,
 652.0,
 653.0,
 654.0,
 655.0,
 656.0,
 657.0,
 658.0,
 659.0,
 660.0,
 661.0,
 662.0,
 663.0,
 664.0,
 665.0,
 666.0,
 667.0,
 668.0,
 669.0,
 670.0,
 671.0,
 672.0,
 673.0,
 674.0,
 675.0,
 676.0,
 677.0,
 678.0,
 679.0,
 680.0,
 681.0,
 682.0,
 683.0,
 684.0,
 685.0,
 686.0,
 687.0,
 688.0,
 689.0,
 690.0,
 691.0,
 692.0,
 693.0,
 694.0,
 695.0,
 696.0,
 697.0,
 698.0,
 699.0,
 700.0,
 701.0,
 702.0,
 703.0,
 704.0,
 705.0,
 706.0,
 707.0,
 708.0,
 709.0,
 710.0,
 711.0,
 712.0,
 713.0,
 714.0,
 715.0,
 716.0,
 717.0,
 718.0,
 719.0,
 720.0,
 721.0,
 722.0,
 723.0,
 724.0,
 725.0,
 726.0,
 727.0,
 728.0,
 729.0,
 730.0,
 731.0,
 732.0,
 733.0,
 734.0,
 735.0,
 736.0,
 737.0,
 738.0,
 739.0,
 740.0,
 741.0,
 742.0,
 743.0,
 744.0,
 745.0,
 746.0,
 747.0,
 748.0,
 749.0,
 750.0,
 751.0,
 752.0,
 753.0,
 754.0,
 755.0,
 756.0,
 757.0,
 758.0,
 759.0,
 760.0,
 761.0,
 762.0,
 763.0,
 764.0,
 765.0,
 766.0,
 767.0,
 768.0,
 769.0,
 770.0,
 771.0,
 772.0,
 773.0,
 774.0,
 775.0,
 776.0,
 777.0,
 778.0,
 779.0,
 780.0,
 781.0,
 782.0,
 783.0,
 784.0,
 785.0,
 786.0,
 787.0,
 788.0,
 789.0,
 790.0,
 791.0,
 792.0,
 793.0,
 794.0,
 795.0,
 796.0,
 797.0,
 798.0,
 799.0,
 800.0,
 801.0,
 802.0,
 803.0,
 805.0,
 806.0,
 807.0,
 808.0,
 809.0,
 810.0,
 811.0,
 812.0,
 813.0,
 814.0,
 815.0,
 816.0,
 817.0,
 818.0,
 819.0,
 820.0,
 821.0,
 822.0,
 823.0,
 824.0,
 825.0,
 826.0,
 827.0,
 828.0,
 829.0,
 830.0,
 831.0,
 832.0,
 833.0,
 834.0,
 835.0,
 836.0,
 837.0,
 838.0,
 839.0,
 840.0,
 841.0,
 842.0,
 843.0,
 844.0,
 845.0,
 846.0,
 847.0,
 848.0,
 849.0,
 850.0,
 851.0,
 852.0,
 853.0,
 854.0,
 855.0,
 856.0,
 857.0,
 858.0,
 859.0,
 860.0,
 861.0,
 862.0,
 863.0,
 864.0,
 865.0,
 866.0,
 867.0,
 868.0,
 869.0,
 870.0,
 871.0,
 872.0,
 873.0,
 874.0,
 875.0,
 876.0,
 877.0,
 878.0,
 879.0,
 880.0,
 881.0,
 882.0,
 883.0,
 884.0,
 885.0,
 886.0,
 887.0,
 888.0,
 889.0,
 890.0,
 891.0,
 892.0,
 893.0,
 894.0,
 895.0,
 896.0,
 897.0,
 898.0,
 899.0,
 900.0,
 901.0,
 902.0,
 903.0,
 904.0,
 905.0,
 906.0,
 907.0,
 908.0,
 909.0,
 910.0,
 911.0,
 912.0,
 913.0,
 914.0,
 915.0,
 916.0,
 917.0,
 918.0,
 919.0,
 920.0,
 921.0,
 922.0,
 923.0,
 924.0,
 925.0,
 926.0,
 927.0,
 928.0,
 929.0,
 930.0,
 931.0,
 932.0,
 933.0,
 934.0,
 935.0,
 936.0,
 937.0,
 938.0,
 939.0,
 940.0,
 941.0,
 942.0,
 943.0,
 944.0,
 945.0,
 946.0,
 947.0,
 948.0,
 949.0,
 950.0,
 951.0,
 952.0,
 953.0,
 954.0,
 955.0,
 956.0,
 957.0,
 958.0,
 959.0,
 960.0,
 961.0,
 962.0,
 963.0,
 964.0,
 965.0,
 966.0,
 967.0,
 968.0,
 969.0,
 970.0,
 971.0,
 972.0,
 973.0,
 974.0,
 975.0,
 976.0,
 977.0,
 978.0,
 979.0,
 980.0,
 981.0,
 982.0,
 983.0,
 984.0,
 985.0,
 986.0,
 987.0,
 988.0,
 989.0,
 990.0,
 991.0,
 992.0,
 993.0,
 995.0,
 996.0,
 997.0,
 998.0,
 999.0,
 1000.0,
 1001.0,
 ...}

In [ ]:
hospital_c = hospital_c.replace(np.nan, 0, regex=True)

In [ ]:
hospital_c['hcode'] = hospital_c['hcode'].astype(int)

In [ ]:
hospital_c.dtypes

hcode              int64
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

In [ ]:
hospital_c

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,1,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,2,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,3,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,5,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

# รวมข้อมูล alldb กับ hospital ทั้งสองตารางเข้าด้วยกัน

In [ ]:
alldb_hos =alldb_dp3.merge(hospital_c,how='left',left_on='site',right_on='hcode') 
alldb_hos

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
1,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
2,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
3,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
4,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
alldb_hos.isnull().any()

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

In [ ]:
alldb_hosdp = alldb_hos.dropna()
alldb_hosdp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
1,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
2,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
3,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
4,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,68768,40A5A14E-33E1-4246-95A7-9757D184BC39,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
70,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
71,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
72,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
73,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [ ]:
alldb_hosdp.shape

(72, 25)

In [ ]:
removes = alldb_hos.shape[0] - alldb_hosdp.shape[0]
print(f'size before drop = {alldb_hos.shape[0]}')
print(f'size after drop = {alldb_hosdp.shape[0]}')
print(f'% from drop = {(removes/alldb_hos.shape[0])*100}')

size before drop = 86
size after drop = 72
% from drop = 16.27906976744186

## แทนค่าด้วย fillna

In [ ]:
alldb_hos_c = alldb_hos.fillna(value={'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','name5':'ไม่ระบุ','name10':'ไม่ระบุ','short_thai':'ไม่ระบุ','short_english':'ไม่ระบุ','province':'ไม่ระบุ'})
alldb_hos_c

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
1,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
2,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
3,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
4,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,...,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
82,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,...,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
83,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
84,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
85,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,NaN,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

## แทนข้อมูลด้วย mean

In [ ]:
hc1 = alldb_hos_c[['hcode']].mean() 
alldb_hos_c[['hcode']] = alldb_hos_c[['hcode']].fillna(hc1) 

pc1 = alldb_hos_c[['provincecode']].mean() 
alldb_hos_c[['provincecode']] = alldb_hos_c[['provincecode']].fillna(pc1) 

ac1 = alldb_hos_c[['amphurcode']].mean() 
alldb_hos_c[['amphurcode']] = alldb_hos_c[['amphurcode']].fillna(ac1)

tc1 = alldb_hos_c[['tamboncode']].mean() 
alldb_hos_c[['tamboncode']] = alldb_hos_c[['tamboncode']].fillna(tc1)

c41 = alldb_hos_c[['code4']].mean() 
alldb_hos_c[['code4']] = alldb_hos_c[['code4']].fillna(c41)

c91 = alldb_hos_c[['code9']].mean() 
alldb_hos_c[['code9']] = alldb_hos_c[['code9']].fillna(c91)

In [ ]:
alldb_hos_c

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.00,...,10.000000,เสลภูมิ,17.000000,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.000000,2.2 ทุติยภูมิระดับกลาง,รอ,RET
1,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.00,...,10.000000,เสลภูมิ,17.000000,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.000000,2.2 ทุติยภูมิระดับกลาง,รอ,RET
2,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.00,...,10.000000,เสลภูมิ,17.000000,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.000000,2.2 ทุติยภูมิระดับกลาง,รอ,RET
3,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.00,...,10.000000,เสลภูมิ,17.000000,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.000000,2.2 ทุติยภูมิระดับกลาง,รอ,RET
4,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.00,...,10.000000,เสลภูมิ,17.000000,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.000000,2.2 ทุติยภูมิระดับกลาง,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,11081.75,...,10.180556,ไม่ระบุ,11.666667,ไม่ระบุ,7.0,ไม่ระบุ,21.666667,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
82,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,11081.75,...,10.180556,ไม่ระบุ,11.666667,ไม่ระบุ,7.0,ไม่ระบุ,21.666667,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
83,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,11081.75,...,10.180556,ไม่ระบุ,11.666667,ไม่ระบุ,7.0,ไม่ระบุ,21.666667,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
84,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,11081.75,...,10.180556,ไม่ระบุ,11.666667,ไม่ระบุ,7.0,ไม่ระบุ,21.666667,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
85,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,11081.75,...,10.180556,ไม่ระบุ,11.666667,ไม่ระบุ,7.0,ไม่ระบุ,21.666667,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

# จำนวนการตรวจในแต่ละพื้นที่

In [ ]:
pv = alldb_hos_c.groupby('province').count()
pv

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
นครพนม,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
ร้อยเอ็ด,47,47,47,47,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,47
อุตรดิตถ์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ไม่ระบุ,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14

In [ ]:
pv_c =pv.iloc[:,:1]
pv_c

           user
province
กาฬสินธุ์     8
นครพนม       16
ร้อยเอ็ด     47
อุตรดิตถ์     1
ไม่ระบุ      14

In [ ]:
pv_noindex = pv_c.reset_index()
pv_noindex

    province  user
0  กาฬสินธุ์     8
1     นครพนม    16
2   ร้อยเอ็ด    47
3  อุตรดิตถ์     1
4    ไม่ระบุ    14

## จำนวนที่พบโรค

### ระดับ 0

In [ ]:
ov0 = alldb_hos_c[alldb_hos_c['ov']== 0]
ov0.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
2,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
3,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
5,26462,rkkutomafv.png,2022-03-22,Vivo V2050,11069,09-12-19,ใส่เป็นน้ำเปล่า,0,10966,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
6,26462,emcshsfjwi.png,2022-03-22,Vivo V2050,11069,09-32-32,ขุ่น,0,10967,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
10,26462,lybdixwhaq.png,2022-03-22,Vivo V2050,11069,11-40-37,ปกติ (เหลืองใส),0,10971,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
ov0 = ov0.groupby('province').count()
ov0.iloc[:,:1]

           user
province
กาฬสินธุ์     4
นครพนม        1
ร้อยเอ็ด     27
อุตรดิตถ์     1
ไม่ระบุ       4

In [ ]:
ov0_noindex = ov0.reset_index()
ov0_noindex.iloc[:,:2]

    province  user
0  กาฬสินธุ์     4
1     นครพนม     1
2   ร้อยเอ็ด    27
3  อุตรดิตถ์     1
4    ไม่ระบุ     4

In [ ]:
ov_0 = ov0_noindex.iloc[:,:2]
ov_0

    province  user
0  กาฬสินธุ์     4
1     นครพนม     1
2   ร้อยเอ็ด    27
3  อุตรดิตถ์     1
4    ไม่ระบุ     4

### ระดับ 1

In [ ]:
ov1 = alldb_hos_c[alldb_hos_c['ov']== 1]
ov1.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
1,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
9,26462,bfceftfurl.png,2022-03-22,OPPO CPH1819,11069,10-08-24,ปกติ (เหลืองใส),1,10970,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
16,26462,sxzmzrsmyf.png,2022-03-21,Vivo 1920,11069,10-08-48,ปกติ (เหลืองใส),1,10976,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
18,26462,9438FD60-2EED-4FC1-BDE0-3AE05A3317BF,2022-03-21,"iPhone13,4",11069,09-49-51,ปกติ (เหลืองใส),1,10978,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
20,26462,fvygcngevl.png,2022-03-21,Vivo 1920,11069,10-29-01,ปกติ (เหลืองใส),1,10980,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
ov1 = ov1.groupby('province').count()
ov1.iloc[:,:1]

           user
province
กาฬสินธุ์     3
นครพนม        3
ร้อยเอ็ด      9
ไม่ระบุ       6

In [ ]:
ov1_noindex = ov1.reset_index()
ov1_noindex.iloc[:,:2]

    province  user
0  กาฬสินธุ์     3
1     นครพนม     3
2   ร้อยเอ็ด     9
3    ไม่ระบุ     6

In [ ]:
ov_1 = ov1_noindex.iloc[:,:2]
ov_1

    province  user
0  กาฬสินธุ์     3
1     นครพนม     3
2   ร้อยเอ็ด     9
3    ไม่ระบุ     6

### ระดับ 2

In [ ]:
ov2 = alldb_hos_c[alldb_hos_c['ov']== 2]
ov2.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
7,26462,wgxurysjec.png,2022-03-22,OPPO CPH1819,11069,09-13-07,ขุ่น,2,10968,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
8,26462,vanquopswi.png,2022-03-22,Vivo V2050,11069,09-48-29,ปกติ (เหลืองใส),2,10969,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
36,26462,3340619E-D3F4-4090-B3D0-B6CDF1D9F370,2022-03-21,"iPhone13,4",11069,13-58-41,มีตะกอน,2,10996,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
43,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),2,11005,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
44,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),2,11006,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
ov2 = ov2.groupby('province').count()
ov2.iloc[:,:1]

           user
province
กาฬสินธุ์     1
นครพนม        2
ร้อยเอ็ด      5
ไม่ระบุ       4

In [ ]:
ov2_noindex = ov2.reset_index()
ov2_noindex.iloc[:,:2]

    province  user
0  กาฬสินธุ์     1
1     นครพนม     2
2   ร้อยเอ็ด     5
3    ไม่ระบุ     4

In [ ]:
ov_2 = ov2_noindex.iloc[:,:2]
ov_2

    province  user
0  กาฬสินธุ์     1
1     นครพนม     2
2   ร้อยเอ็ด     5
3    ไม่ระบุ     4

### ระดับ 3

In [ ]:
ov3 = alldb_hos_c[alldb_hos_c['ov']== 3]
ov3.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
4,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
22,10982,D713CB5A-AE59-4FA7-9387-39C0B766120A,2022-03-21,"iPhone13,4",11069,10-30-00,ปกติ (เหลืองใส),3,10982,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
47,11111,1CE25D88-8ED6-46C8-8EBD-DE2D5F89EB7F,2022-02-27,"iPhone13,4",11111,19-21-47,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
52,11111,97F01805-4C0F-4478-9D0F-FF6A5A0B45B5,2022-02-27,"iPhone13,4",11111,19-22-48,มีตะกอน,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
53,11111,A6D69321-ED1F-457D-B615-6F4C1F600C01,2022-02-27,"iPhone13,4",11111,18-50-25,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM

In [ ]:
ov3 = ov3.groupby('province').count()
ov3.iloc[:,:1]

          user
province
นครพนม       7
ร้อยเอ็ด     2

In [ ]:
ov3_noindex = ov3.reset_index()
ov3_noindex.iloc[:,:2]

   province  user
0    นครพนม     7
1  ร้อยเอ็ด     2

In [ ]:
ov_3 = ov3_noindex.iloc[:,:2]
ov_3

   province  user
0    นครพนม     7
1  ร้อยเอ็ด     2

### ระดับ 4

In [ ]:
ov4 = alldb_hos_c[alldb_hos_c['ov']== 4]
ov4.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
15,26462,5CB6F5EB-324D-448C-84AD-C9D48B23684E,2022-03-22,"iPhone13,4",11069,14-04-13,ปกติ (เหลืองใส),4,10975,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
26,26462,iwwwnyrmtz.png,2022-03-22,OPPO CPH1819,11069,09-32-10,ปกติ (เหลืองใส),4,10986,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
41,26462,rryhjijyje.png,2022-03-21,Vivo V2050,11069,11-52-34,มีเม็ดเลือดแดง,4,11002,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
50,11111,6F95D193-3E3D-452D-99BD-705D0271030F,2022-02-27,"iPhone13,4",11111,18-53-44,มีเม็ดเลือดแดง,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM

In [ ]:
ov4 = ov4.groupby('province').count()
ov4.iloc[:,:1]

          user
province
นครพนม       3
ร้อยเอ็ด     4

In [ ]:
ov4_noindex = ov4.reset_index()
ov4_noindex.iloc[:,:2]

   province  user
0    นครพนม     3
1  ร้อยเอ็ด     4

In [ ]:
ov_4 = ov4_noindex.iloc[:,:2]
ov_4

   province  user
0    นครพนม     3
1  ร้อยเอ็ด     4

#Dashboard อันที่ 1

*  จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)

#Dashboard อันที่ 2 และ Dashboard อันที่ 3 ใช้ข้อมูลตารางเดียวกัน

*  ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)

*  อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ)

In [ ]:
dash2 = alldb_hos_c[['user','date','phone','site','time','urine','ov','PartitionKey','hcode','name','province']] 
dash2

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province
0,26462,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.00,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
1,26462,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.00,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
2,26462,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.00,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
3,26462,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.00,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
4,26462,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.00,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
...,...,...,...,...,...,...,...,...,...,...,...
81,99999,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,11081.75,ไม่ระบุ,ไม่ระบุ
82,99999,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,11081.75,ไม่ระบุ,ไม่ระบุ
83,99999,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,11081.75,ไม่ระบุ,ไม่ระบุ
84,99999,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,11081.75,ไม่ระบุ,ไม่ระบุ
85,99999,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,11081.75,ไม่ระบุ,ไม่ระบุ

In [ ]:
dash2.to_csv('dash2.csv', encoding='utf-8')

# Dashboard

https://datastudio.google.com/reporting/99a58b08-116e-4f1e-997d-cefd5dccfe8c