<a href="https://colab.research.google.com/github/Octa-p/data_viz_2022/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/DataViz22_data'
data_cases = pd.read_csv(os.path.join(path, 'confirmed-cases.csv'))
data_cases1 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-120864.csv'))
data_cases2 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-271064.csv'))
data_cases3 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-280265.csv'))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# ข้อมูลจำนวนผู้เชื้อช่วงที่ 1

In [5]:
data_cases

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

# ข้อมูลจำนวนผู้เชื้อช่วงที่ 2

In [6]:
data_cases1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

# ข้อมูลจำนวนผู้เชื้อช่วงที่ 3

In [7]:
data_cases2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

# ข้อมูลจำนวนผู้เชื้อช่วงที่ 4

In [8]:
data_cases3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

# เตรียมข้อมูล

## ข้อมูลจำนวนผู้เชื้อช่วงที่ 1

In [9]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

จากการตรวจสอบพบว่า มี column ที่มีค่า missing คือ

*   Notified date 
*   sex
*   age
*   Unit
*   nationality
*   province_of_isolation
*   risk
*   province_of_onset
*   district_of_onset

### แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [10]:
case = data_cases.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'}) #แทนด้วยคำว่า ไม่มีข้อมูล ได้เนื่องจากในตารางมีค่าว่าง และในคอลัมป์ไม่มีค่าเป็นตัวเลขจึงใช้ค่า string ในการแทนที่ได้

In [11]:
case

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,ไม่มีข้อมูล,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,ไม่มีข้อมูล
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,ไม่มีข้อมูล
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,ไม่มีข้อมูล
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,ไม่มีข้อมูล
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,ไม่มีข้อมูล

### แทนค่า missing ของ age ด้วย mean()

In [12]:
mean_age = case[['age']].mean() # เนื่องจากค่า age เป็นตัวเลขจึงจะต้องแทนค่าด้วยค่าเฉลี่ยของตัวเลขนั้นๆในช่องว่าง
mean_age

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [13]:
case[['age']] = case[['age']].fillna(mean_age)

In [14]:
case.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

จากการเตรียมข้อมูลจะเห็นได้ว่า ข้อมูลของจำนวนติดเชื้อช่วงที่ 1 ไม่มีค่า missing แล้ว

## dropna

In [15]:
casedrop = pd.read_csv(os.path.join(path, 'confirmed-cases.csv'))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [16]:
casedrop_clean = casedrop.dropna() 
casedrop_clean

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
47,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน
124,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
161,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
181,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง
186,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ
...,...,...,...,...,...,...,...,...,...,...,...
839391,839392,12/8/2021,11/8/2021,หญิง,83.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,วัฒนา
839392,839393,12/8/2021,11/8/2021,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางขุนเทียน
839393,839394,12/8/2021,11/8/2021,หญิง,43.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,ประเวศ
839394,839395,12/8/2021,11/8/2021,หญิง,74.0,ปี,Thailand,กรุงเทพมหานคร,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,กรุงเทพมหานคร,ธนบุรี
839395,839396,12/8/2021,11/8/2021,ชาย,29.0,ปี,Thailand,กรุงเทพมหานคร,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,กรุงเทพมหานคร,ประเวศ

In [17]:
casedrop_clean.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

## ข้อมูลจำนวนผู้เชื้อช่วงที่ 2

In [18]:
data_cases1.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

จากการตรวจสอบพบว่า มี column ที่มีค่า missing คือ

*   sex
*   age
*   Unit
*   nationality
*   province_of_onset
*   district_of_onset

### แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [19]:
case1 = data_cases1.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})

In [20]:
case1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ไม่มีข้อมูล,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

### แทนค่า missing ของ age ด้วย mean()

In [21]:
mean_age1 = case1[['age']].mean()

In [22]:
case1[['age']] = case1[['age']].fillna(mean_age1)

In [23]:
case1.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

จากการเตรียมข้อมูลจะเห็นได้ว่า ข้อมูลของจำนวนติดเชื้อช่วงที่ 2 ไม่มีค่า missing แล้ว

## dropna

In [24]:
casedrop2 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-120864.csv'))

In [25]:
casedrop2_clean = casedrop2.dropna() 
casedrop2_clean

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
249,817239,12/8/2021,11/8/2021,ชาย,48.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
250,817240,12/8/2021,11/8/2021,หญิง,19.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
251,817241,12/8/2021,11/8/2021,หญิง,37.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
252,817242,12/8/2021,11/8/2021,ชาย,46.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
253,817243,12/8/2021,11/8/2021,ชาย,60.0,ปี,Thailand,เพชรบูรณ์,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เพชรบูรณ์,เมืองเพชรบูรณ์
...,...,...,...,...,...,...,...,...,...,...,...
1041962,1858952,25/10/2021,24/10/2021,ชาย,67.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางพลัด
1041963,1858953,25/10/2021,24/10/2021,หญิง,39.0,ปี,Thailand,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,บางพลัด
1041964,1858954,25/10/2021,24/10/2021,ชาย,80.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม
1041965,1858955,25/10/2021,24/10/2021,หญิง,67.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม
1041966,1858956,25/10/2021,24/10/2021,หญิง,53.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,สายไหม

## ข้อมูลจำนวนผู้เชื้อช่วงที่ 3

In [26]:
data_cases2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

จากการตรวจสอบพบว่า มี column ที่มีค่า missing คือ

*   sex
*   age
*   Unit
*   nationality
*   province_of_isolation
*   risk
*   province_of_onset
*   district_of_onset
*   Unnamed:11

### แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [27]:
case2 = data_cases2.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})
case2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN

### แทนค่า missing ของ age ด้วย mean()

In [28]:
mean_age2 = case2[['age']].mean() 
mean_age2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [29]:
case2[['age']] = case2[['age']].fillna(mean_age2)

In [30]:
case2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
Unnamed: 11               True
dtype: bool

ตัด column Unnamed: 11 ออกเนื่องจากไม่ทราบว่าเป็นข้อมูลเกี่ยวกับอะไรและเป็น column ที่ไม่มีความเกี่ยวข้องกัน

In [31]:
case2.drop(['Unnamed: 11'], axis=1, inplace=True)
case2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

In [32]:
case2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

จากการเตรียมข้อมูลจะเห็นได้ว่า ข้อมูลของจำนวนติดเชื้อช่วงที่ 3 ไม่มีค่า missing แล้ว

## dropna

In [33]:
casedrop3 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-271064.csv'))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [34]:
casedrop3.drop(['Unnamed: 11'], axis=1, inplace=True)
casedrop3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [35]:
casedrop3_clean = casedrop3.dropna() 
casedrop3_clean

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010370,2869528,27/2/2022,26/2/2022,หญิง,7.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,บางกอกน้อย
1010371,2869529,27/2/2022,26/2/2022,ชาย,38.0,ปี,French,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,จอมทอง
1010372,2869530,27/2/2022,26/2/2022,หญิง,58.0,ปี,French,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,จอมทอง
1010373,2869531,27/2/2022,26/2/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
1010374,2869532,27/2/2022,26/2/2022,ชาย,64.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี

## ข้อมูลจำนวนผู้เชื้อช่วงที่ 4

In [36]:
data_cases3.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

จากการตรวจสอบพบว่า มี column ที่มีค่า missing คือ

*   sex
*   age
*   Unit
*   nationality
*   risk
*   province_of_onset
*   district_of_onset

### แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [37]:
case3 = data_cases3.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})
case3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

### แทนค่า missing ของ age ด้วย mean()

In [38]:
mean_age3 = case3[['age']].mean() 
mean_age3

age    36.943725
dtype: float64

In [39]:
case3[['age']] = case3[['age']].fillna(mean_age3)

In [40]:
case3.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

จากการเตรียมข้อมูลจะเห็นได้ว่า ข้อมูลของจำนวนติดเชื้อช่วงที่ 3 ไม่มีค่า missing แล้ว

## dropna

In [41]:
casedrop4 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-280265.csv'))

In [42]:
casedrop4_clean = casedrop4.dropna() 
casedrop4_clean

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357022,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357023,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357024,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
357025,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว
357026,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง

## รวมตาราง

### รวมตารางข้อมูลจำนวนผู้ติดเชื้อช่วงที่ 1 และ ข้อมูลจำนวนผู้ติดเชื้อช่วงที่ 2

In [43]:
case12= pd.concat([case, case1],axis=0) #vertical_concat
case12

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

### รวมตารางข้อมูลจำนวนผู้ติดเชื้อช่วงที่ 3 และ ข้อมูลจำนวนผู้ติดเชื้อช่วงที่ 4

In [44]:
case34= pd.concat([case2, case3],axis=0) #vertical_concat
case34

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357077,3226694,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357078,3226695,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357079,3226696,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357080,3226697,15/3/2022,14/3/2022,หญิง,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

In [45]:
case234= pd.concat([case1,case2, case3],axis=0) #vertical_concat
case234

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ไม่มีข้อมูล,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357077,3226694,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357078,3226695,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357079,3226696,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357080,3226697,15/3/2022,14/3/2022,หญิง,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

### เอาตาราง case12 และ case34 มารวมกัน

In [46]:
case1234= pd.concat([case12, case34],axis=0) #vertical_concat
case1234

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357077,3226694,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357078,3226695,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357079,3226696,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357080,3226697,15/3/2022,14/3/2022,หญิง,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

## รวมตารางที่ drop

In [47]:
casedrop1234= pd.concat([casedrop,casedrop2, casedrop3, casedrop4],axis=0) #vertical_concat
casedrop1234

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [48]:
casedrop1234_clean = casedrop1234.dropna() 
casedrop1234_clean

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
47,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน
124,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
161,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
181,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง
186,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ
...,...,...,...,...,...,...,...,...,...,...,...
357022,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357023,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357024,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
357025,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว
357026,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง

# ข้อมูลจังหวัดแต่ละภูมิภาค

In [49]:
import pandas as pd

In [50]:
data_province = {'province': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            '6 ภูมิภาค (ภูมิศาสตร์)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
}

In [51]:
province_df = pd.DataFrame.from_dict(data_province) #คำสั่งสร้างตาราง Dataframe
province_df

      province 6 ภูมิภาค (ภูมิศาสตร์)
0   อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1       บึงกาฬ     ตะวันออกเฉียงเหนือ
2    บุรีรัมย์     ตะวันออกเฉียงเหนือ
3      ชัยภูมิ     ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์     ตะวันออกเฉียงเหนือ
..         ...                    ...
72       พังงา                    ใต้
73      ภูเก็ต                    ใต้
74       ระนอง                    ใต้
75        สตูล                    ใต้
76        ตรัง                    ใต้

[77 rows x 2 columns]

# ข้อมูลรายชื่อห้องปฏิบัติการเครือข่ายตรวจโควิด-19

In [52]:
lab = pd.read_csv('labscovid19_update080365.csv', encoding="TIS-620") # TIS-620 คือ Decoding ที่เราใช้อ่านจาก file.csv แล้วนำค่ากลับมา Encodingเป็น UTF-8-sig เพื่อให้ตัว microsoft excel ในเครื่องเราที่มีdefault ในการอ่านค่าเป็น utf-8 อ่านได้ 
lab

,orgth,orgen,telephone,address,website,healtharea,agency,province,district,area,npsts,pooledsaliva,pooledswab
0,ศูนย์วิทยาศาสตร์การแพทย์ที่ 1 เชียงใหม่,Regional Medical Sciences Center 1 Chiang Mai,0-5311-2188-90,191 หมู่ 8 ต.ดอนแก้ว อ.แม่ริม จ.เชียงใหม่ 50180,http://webapp1.dmsc.moph.go.th/cm1/web/post-gr...,เขต 1,ภาครัฐ,เชียงใหม่,แม่ริม,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
1,ศูนย์วิทยาศาสตร์การแพทย์ที่ 1/1 เชียงราย,Regional Medical Sciences Center 1/1 Chiang Rai,0-5317-6224-6,148 หมู่ 3 ตำบลนางแล อำเภอเมือง จังหวัดเชียงรา...,http://cri.dmsc.moph.go.th/,เขต 1,ภาครัฐ,เชียงราย,เมืองเชียงราย,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
2,สำนักงานป้องกันควบคุมโรคที่ 1 เชียงใหม่,The Office of Disease Prevention and Control 1...,0-5314-0774,447 ถนนเชียงใหม่-ลำพูน ตำบลวัดเกต อำเภอเมือง จ...,https://ddc.moph.go.th/odpc1/,เขต 1,ภาครัฐ,เชียงใหม่,เมืองเชียงใหม่,ต่างจังหวัด,เปิดตรวจแล้ว,NaN,เปิดตรวจแล้ว
3,โรงพยาบาลนครพิงค์,Nakornping Hospital,0-5399-9200,159 ม.10 ถ.โชตนา ต.ดอนแก้ว อ.แม่ริม จ.เชียงใหม...,http://www.nkp-hospital.go.th/th/,เขต 1,ภาครัฐ,เชียงใหม่,แม่ริม,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
4,โรงพยาบาลลำปาง,Lampang Hospital,0-5423-7400,28/3 ห้องอณูชีวโมเลกุล กลุ่มงานเทคนิคการแพทย์ ...,http://www.lph.go.th/lpweb/,เขต 1,ภาครัฐ,ลำปาง,เมืองลำปาง,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,งานอณูชีววิทยา โรงพยาบาลราชวิถี,NaN,0-2206-2900 ต่อ 40610-2,NaN,http://www.rajavithi.go.th/rj/medtech/biomolec...,เขต 13,ภาครัฐ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,NaN,NaN
509,งานจุลชีววิทยา โรงพยาบาลราชวิถี,NaN,"0-2206-2900 ต่อ 3142, 3143",NaN,http://www.rajavithi.go.th/rj/medtech/microbio...,เขต 13,ภาครัฐ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,NaN,NaN
510,โรงพยาบาลประโคนชัย,NaN,0-4467-0103,NaN,https://www.facebook.com/pkchospital,เขต 9,ภาครัฐ,บุรีรัมย์,ประโคนชัย,ต่างจังหวัด,เปิดตรวจแล้ว,NaN,NaN
511,กรุงเทพพยาธิ-แลป คลินิกเทคนิคการแพทย์,NaN,0-2619-2909,NaN,https://www.bpl.co.th/pweb/,เขต 13,เอกชน,กรุงเทพมหานคร,พญาไท,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,NaN,NaN
512,เอ็นเฮลท์ คลินิกเทคนิคการแพทย์,NaN,"0-2019-9921, 09-8650-6735",NaN,https://www.nhealth-asia.com/th/product/14,เขต 13,เอกชน,กรุงเทพมหานคร,บางแค,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,NaN,NaN

จากในตารางมีข้อมูลดังนี้

*   orgth = ชื่อห้องปฏิบัติการภาษาไทย
*   orgen = ชื่อห้องปฏิบัติการภาษาอังกฤษ
*   telephone = หมายเลขโทรศัพท์
*   address = ที่อยู่ของห้องปฏิบัติการ
*   website = เว็บไซต์
*   healtharea = เขต
*   agency = หน่วยงาน
*   province = จังหวัด
*   district = อำเภอ
*   area = บริเวณพื้นที่
*   npsts = สถานะ (NPS+TS = การตรวจด้วยตัวอย่างป้ายหลังโพรงจมูก และป้ายลำคอ)
*   pooledsaliva = สถานะ (การตรวจด้วยตัวอย่างน้ำลาย)
*   pooledswab = สถานะ (การตรวจด้วยตัวอย่างในโพรงจมูก

In [53]:
lab.isnull().any()

orgth           False
orgen            True
telephone        True
address          True
website          True
healtharea      False
agency          False
province        False
district         True
area            False
npsts           False
pooledsaliva     True
pooledswab       True
dtype: bool

จากการตรวจสอบพบว่า มี column ที่มีค่า missing คือ

*  orgen            
*  telephone        
*  address          
*  website          
*  district         
*  pooledsaliva     
*  pooledswab

## แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [54]:
lab_clean = lab.fillna(value={'orgen':'ไม่ระบุ','telephone':'ไม่ระบุ','address':'ไม่ระบุ','district':'ไม่ระบุ','pooledsaliva':'ไม่ระบุ','pooledswab':'ไม่ระบุ'})
lab_clean

,orgth,orgen,telephone,address,website,healtharea,agency,province,district,area,npsts,pooledsaliva,pooledswab
0,ศูนย์วิทยาศาสตร์การแพทย์ที่ 1 เชียงใหม่,Regional Medical Sciences Center 1 Chiang Mai,0-5311-2188-90,191 หมู่ 8 ต.ดอนแก้ว อ.แม่ริม จ.เชียงใหม่ 50180,http://webapp1.dmsc.moph.go.th/cm1/web/post-gr...,เขต 1,ภาครัฐ,เชียงใหม่,แม่ริม,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
1,ศูนย์วิทยาศาสตร์การแพทย์ที่ 1/1 เชียงราย,Regional Medical Sciences Center 1/1 Chiang Rai,0-5317-6224-6,148 หมู่ 3 ตำบลนางแล อำเภอเมือง จังหวัดเชียงรา...,http://cri.dmsc.moph.go.th/,เขต 1,ภาครัฐ,เชียงราย,เมืองเชียงราย,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
2,สำนักงานป้องกันควบคุมโรคที่ 1 เชียงใหม่,The Office of Disease Prevention and Control 1...,0-5314-0774,447 ถนนเชียงใหม่-ลำพูน ตำบลวัดเกต อำเภอเมือง จ...,https://ddc.moph.go.th/odpc1/,เขต 1,ภาครัฐ,เชียงใหม่,เมืองเชียงใหม่,ต่างจังหวัด,เปิดตรวจแล้ว,ไม่ระบุ,เปิดตรวจแล้ว
3,โรงพยาบาลนครพิงค์,Nakornping Hospital,0-5399-9200,159 ม.10 ถ.โชตนา ต.ดอนแก้ว อ.แม่ริม จ.เชียงใหม...,http://www.nkp-hospital.go.th/th/,เขต 1,ภาครัฐ,เชียงใหม่,แม่ริม,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
4,โรงพยาบาลลำปาง,Lampang Hospital,0-5423-7400,28/3 ห้องอณูชีวโมเลกุล กลุ่มงานเทคนิคการแพทย์ ...,http://www.lph.go.th/lpweb/,เขต 1,ภาครัฐ,ลำปาง,เมืองลำปาง,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,งานอณูชีววิทยา โรงพยาบาลราชวิถี,ไม่ระบุ,0-2206-2900 ต่อ 40610-2,ไม่ระบุ,http://www.rajavithi.go.th/rj/medtech/biomolec...,เขต 13,ภาครัฐ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,ไม่ระบุ,ไม่ระบุ
509,งานจุลชีววิทยา โรงพยาบาลราชวิถี,ไม่ระบุ,"0-2206-2900 ต่อ 3142, 3143",ไม่ระบุ,http://www.rajavithi.go.th/rj/medtech/microbio...,เขต 13,ภาครัฐ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,ไม่ระบุ,ไม่ระบุ
510,โรงพยาบาลประโคนชัย,ไม่ระบุ,0-4467-0103,ไม่ระบุ,https://www.facebook.com/pkchospital,เขต 9,ภาครัฐ,บุรีรัมย์,ประโคนชัย,ต่างจังหวัด,เปิดตรวจแล้ว,ไม่ระบุ,ไม่ระบุ
511,กรุงเทพพยาธิ-แลป คลินิกเทคนิคการแพทย์,ไม่ระบุ,0-2619-2909,ไม่ระบุ,https://www.bpl.co.th/pweb/,เขต 13,เอกชน,กรุงเทพมหานคร,พญาไท,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,ไม่ระบุ,ไม่ระบุ
512,เอ็นเฮลท์ คลินิกเทคนิคการแพทย์,ไม่ระบุ,"0-2019-9921, 09-8650-6735",ไม่ระบุ,https://www.nhealth-asia.com/th/product/14,เขต 13,เอกชน,กรุงเทพมหานคร,บางแค,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,ไม่ระบุ,ไม่ระบุ

In [55]:
lab_clean.isnull().any()

orgth           False
orgen           False
telephone       False
address         False
website          True
healtharea      False
agency          False
province        False
district        False
area            False
npsts           False
pooledsaliva    False
pooledswab      False
dtype: bool

จากการเตรียมข้อมูลจะเห็นได้ว่า ข้อมูลรายชื่อห้องปฏิบัติการเครือข่ายตรวจโควิด-19 ไม่มีค่า missing แล้ว

## dropna

In [56]:
labdrop = pd.read_csv('labscovid19_update080365.csv', encoding="TIS-620") # TIS-620 คือ Decoding ที่เราใช้อ่านจาก file.csv แล้วนำค่ากลับมา Encodingเป็น UTF-8-sig เพื่อให้ตัว microsoft excel ในเครื่องเราที่มีdefault ในการอ่านค่าเป็น utf-8 อ่านได้

In [57]:
labdrop_clean = labdrop.dropna()
labdrop_clean

,orgth,orgen,telephone,address,website,healtharea,agency,province,district,area,npsts,pooledsaliva,pooledswab
0,ศูนย์วิทยาศาสตร์การแพทย์ที่ 1 เชียงใหม่,Regional Medical Sciences Center 1 Chiang Mai,0-5311-2188-90,191 หมู่ 8 ต.ดอนแก้ว อ.แม่ริม จ.เชียงใหม่ 50180,http://webapp1.dmsc.moph.go.th/cm1/web/post-gr...,เขต 1,ภาครัฐ,เชียงใหม่,แม่ริม,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
1,ศูนย์วิทยาศาสตร์การแพทย์ที่ 1/1 เชียงราย,Regional Medical Sciences Center 1/1 Chiang Rai,0-5317-6224-6,148 หมู่ 3 ตำบลนางแล อำเภอเมือง จังหวัดเชียงรา...,http://cri.dmsc.moph.go.th/,เขต 1,ภาครัฐ,เชียงราย,เมืองเชียงราย,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
3,โรงพยาบาลนครพิงค์,Nakornping Hospital,0-5399-9200,159 ม.10 ถ.โชตนา ต.ดอนแก้ว อ.แม่ริม จ.เชียงใหม...,http://www.nkp-hospital.go.th/th/,เขต 1,ภาครัฐ,เชียงใหม่,แม่ริม,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
4,โรงพยาบาลลำปาง,Lampang Hospital,0-5423-7400,28/3 ห้องอณูชีวโมเลกุล กลุ่มงานเทคนิคการแพทย์ ...,http://www.lph.go.th/lpweb/,เขต 1,ภาครัฐ,ลำปาง,เมืองลำปาง,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
7,โรงพยาบาลเชียงรายประชานุเคราะห์,Chiang Rai Prachanukroh Hospital,0-5391-0600,1039 ถ.สถานพยาบาล ต.เวียง อ.เมือง จ.เชียงราย 5...,https://www.crhospital.org/home/main.php,เขต 1,ภาครัฐ,เชียงราย,เมืองเชียงราย,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,โรงพยาบาลสหวิทยาการมะลิ,Mali Interdisciplinary Hospital,0-2089-1111,771/1 ซอย85 ถนนเอกชัย แขวงบางบอน เขตบางบอน กทม...,https://www.mali-imc.com/th/home/,เขต 13,เอกชน,กรุงเทพมหานคร,บางบอน,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
312,โรงพยาบาลกลาง,Klang Hospital,0-2220-8000 ต่อ 10422,โรงพยาบาลกลาง (กลุ่มงานเทคนิคการแพทย์ ชั้น 4)\...,http://www.klanghospital.go.th/,เขต 13,ภาครัฐ,กรุงเทพมหานคร,ป้อมปราบศัตรูพ่าย,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
314,โรงพยาบาลวิภาราม,Vibharam Hospital,"0-2722-2500 ต่อ 2101, 2102",โรงพยาบาลวิภาราม 2677 ถ.พัฒนาการ พัฒนาการ สวนห...,https://www.vibharam.com/,เขต 13,เอกชน,กรุงเทพมหานคร,สวนหลวง,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
315,โรงพยาบาลเมดพาร์ค,MedPark Hospital,0-2090-3081,3333 ถนนพระรามที่ 4 แขวงคลองเตย เขตคลองเตย กรุ...,https://www.medparkhospital.com/,เขต 13,เอกชน,กรุงเทพมหานคร,คลองเตย,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
320,โรงพยาบาลไทยนครินทร์,Thainakarin Hospital,0-2340-6499 ต่อ 3124,345 ถนน เทพรัตน แขวง บางนา เขตบางนา กรุงเทพมหา...,https://thainakarin.co.th/,เขต 13,เอกชน,กรุงเทพมหานคร,บางนา,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว

### case+province

In [58]:
case_prodp = casedrop1234_clean.merge(province_df,how='left',left_on='province_of_onset',right_on = 'province') 
case_prodp

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,province,6 ภูมิภาค (ภูมิศาสตร์)
0,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน,กรุงเทพมหานคร,กลาง
1,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี,ปทุมธานี,กลาง
2,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง,สุราษฎร์ธานี,ใต้
3,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง,ขอนแก่น,ตะวันออกเฉียงเหนือ
4,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ,ร้อยเอ็ด,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2361302,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง
2361303,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง
2361304,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพมหานคร,กลาง
2361305,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว,กรุงเทพมหานคร,กลาง
2361306,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง,กรุงเทพมหานคร,กลาง

In [65]:
data_ch = case_prodp[['announce_date','age','risk','6 ภูมิภาค (ภูมิศาสตร์)','province_of_onset']]
data_ch

,announce_date,age,risk,6 ภูมิภาค (ภูมิศาสตร์),province_of_onset
0,6/3/2020,43.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กรุงเทพมหานคร
1,6/3/2021,55.0,Cluster ตลาดพรพัฒน์,กลาง,ปทุมธานี
2,17/3/2020,14.0,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้,สุราษฎร์ธานี
3,18/3/2020,33.0,สนามมวย,ตะวันออกเฉียงเหนือ,ขอนแก่น
4,18/3/2020,36.0,สนามมวย,ตะวันออกเฉียงเหนือ,ร้อยเอ็ด
...,...,...,...,...,...
2361302,15/3/2022,66.0,อื่นๆ,กลาง,กรุงเทพมหานคร
2361303,15/3/2022,49.0,อื่นๆ,กลาง,กรุงเทพมหานคร
2361304,15/3/2022,19.0,อื่นๆ,กลาง,กรุงเทพมหานคร
2361305,15/3/2022,66.0,อื่นๆ,กลาง,กรุงเทพมหานคร
2361306,15/3/2022,46.0,อื่นๆ,กลาง,กรุงเทพมหานคร

In [67]:
case_pro_labdp=  data_ch.merge(labdrop_clean,how='left',left_on='province_of_onset',right_on = 'province') 
case_pro_labdp

,announce_date,age,risk,6 ภูมิภาค (ภูมิศาสตร์),province_of_onset,orgth,orgen,telephone,address,website,healtharea,agency,province,district,area,npsts,pooledsaliva,pooledswab
0,6/3/2020,43.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กรุงเทพมหานคร,คณะแพทยศาสตร์ โรงพยาบาลรามาธิบดี,"Faculty of Medicine, Ramathibodi Hospital",0-2201-1470,270 ถ.พระราม 6 แขวงพญาไท เขตราชเทวี กรุงเทพ 10400,https://med.mahidol.ac.th/,เขต 13,ภาครัฐ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
1,6/3/2020,43.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กรุงเทพมหานคร,คณะแพทยศาสตร์จุฬาลงกรณ์มหาวิทยาลัย,"Faculty of Medicine, Chulalongkorn University",0-2225-6418-3,ตึก อปร ชั้น 16 หน่วยไวรัสวิทยา ภาควิชาจุลชีวว...,https://www.md.chula.ac.th/,เขต 13,ภาครัฐ,กรุงเทพมหานคร,ปทุมวัน,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
2,6/3/2020,43.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กรุงเทพมหานคร,คณะเวชศาสตร์เขตร้อน มหาวิทยาลัยมหิดล,"Faculty of Tropical Medicine, Mahidol University",0-2306-9100 ต่อ 3082,ห้องปฏิบัติการอ้างอิงด้านโรคเขตร้อน คณะเวชศาสต...,https://www.tm.mahidol.ac.th/th/index-th.php,เขต 13,ภาครัฐ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
3,6/3/2020,43.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กรุงเทพมหานคร,โรงพยาบาลพระมงกุฎเกล้า,Pramongkutklao Hospital,0-2354-7711 ต่อ 99358,ห้องปฎิบัติการอณูพันธุศาสตร์ กองพยาธิวิทยา อาค...,โรงพยาบาลพระมงกุฏเกล้า (pmk.ac.th),เขต 13,ภาครัฐ,กรุงเทพมหานคร,ราชเทวี,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
4,6/3/2020,43.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กลาง,กรุงเทพมหานคร,คลินิกเทคนิคการแพทย์ รามคำแหง,"Medical Technic Clinic, Ramkamhang",0-2743-9999,92/2 ซอยรามคำแหง32 แขวงหัวหมาก เขตบางกะปิ กรุง...,https://www.ram-hosp.co.th/,เขต 13,เอกชน,กรุงเทพมหานคร,บางกะปิ,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752025,15/3/2022,46.0,อื่นๆ,กลาง,กรุงเทพมหานคร,โรงพยาบาลสหวิทยาการมะลิ,Mali Interdisciplinary Hospital,0-2089-1111,771/1 ซอย85 ถนนเอกชัย แขวงบางบอน เขตบางบอน กทม...,https://www.mali-imc.com/th/home/,เขต 13,เอกชน,กรุงเทพมหานคร,บางบอน,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
15752026,15/3/2022,46.0,อื่นๆ,กลาง,กรุงเทพมหานคร,โรงพยาบาลกลาง,Klang Hospital,0-2220-8000 ต่อ 10422,โรงพยาบาลกลาง (กลุ่มงานเทคนิคการแพทย์ ชั้น 4)\...,http://www.klanghospital.go.th/,เขต 13,ภาครัฐ,กรุงเทพมหานคร,ป้อมปราบศัตรูพ่าย,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
15752027,15/3/2022,46.0,อื่นๆ,กลาง,กรุงเทพมหานคร,โรงพยาบาลวิภาราม,Vibharam Hospital,"0-2722-2500 ต่อ 2101, 2102",โรงพยาบาลวิภาราม 2677 ถ.พัฒนาการ พัฒนาการ สวนห...,https://www.vibharam.com/,เขต 13,เอกชน,กรุงเทพมหานคร,สวนหลวง,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
15752028,15/3/2022,46.0,อื่นๆ,กลาง,กรุงเทพมหานคร,โรงพยาบาลเมดพาร์ค,MedPark Hospital,0-2090-3081,3333 ถนนพระรามที่ 4 แขวงคลองเตย เขตคลองเตย กรุ...,https://www.medparkhospital.com/,เขต 13,เอกชน,กรุงเทพมหานคร,คลองเตย,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
15752029,15/3/2022,46.0,อื่นๆ,กลาง,กรุงเทพมหานคร,โรงพยาบาลไทยนครินทร์,Thainakarin Hospital,0-2340-6499 ต่อ 3124,345 ถนน เทพรัตน แขวง บางนา เขตบางนา กรุงเทพมหา...,https://thainakarin.co.th/,เขต 13,เอกชน,กรุงเทพมหานคร,บางนา,กรุงเทพและปริมณฑล,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว

In [68]:
all_cities = set(case_pro_labdp['province_of_onset'])
all_cities

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรีมย์',
 'ปจ',
 'ปทุทธานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปััตตานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระยอง',
 'ระยอง\xa0',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำลูกกา',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สวิสเซอร์แลนด์',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อำนาจเจริญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชีียงราย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่ระบุ'}

In [69]:
case_pro_labdp['province_of_onset'].replace({'ขานุวรลักษณ์บุรี':'กำแพงเพชร','กรุงเทพมหานคร.':'กรุงเทพมหานคร','กำแพงเพชร\xa0':'กำแพงเพชร','ชลบุรี\xa0':'ชลบุรี','ตราด\xa0':'ตราด','นครปฐม\xa0':'นครปฐม','นครนายก':'นครยายก','นครราชศรีมา':'นครราชสีมา','นครราชสีมา\xa0':'นครราชสีมา','นครสวรรค์\xa0':'นครสวรรค์','บุรีรัมย์\xa0':'บุรีรัมย์','ปทุมธานี\xa0':'ปทุมธานี','พิษณุโลก\xa0':'พิษณุโลก','ลพบุรี\xa0':'ลพบุรี','สมุทรปราการ\xa0':'สมุทรปราการ','ปัตตนรี':'ปัตตานี','สมุทสาคร':'สมุทรสาคร','สุราษฏร์ธานี':'สุราษฎร์ธานี','สมุทiสาคร':'สมุทรสาคร','สุโขทัย\xa0':'สุโขทัย','อุดรธานี\xa0':'อุดรธานี','อุบลราชธานี\xa0':'อุบลราชธานี','เพชรบูรณ์\xa0':'เพชรบูรณ์','อยุทธยา':'อยุธยา','เชิงเทรา':'ฉะเชิงเทรา','พระนครศรีอยุธยา':'อยุธยา'},inplace=True)

In [70]:
set(case_pro_labdp['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำแพง',
 'กำแพงเพชร',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขัยนาท',
 'ขัยภูมิ',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตาก',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครปฐม',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราชธานี',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรีมย์',
 'ปจ',
 'ปทุทธานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปััตตานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณูโลก',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระยอง',
 'ระยอง\xa0',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำลูกกา',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สวิสเซอร์แลนด์',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุธยา',
 'อำนาจเจริญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชียงราย',
 'เชียงใหม่',
 'เชีียงราย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่ระบุ'}

In [59]:
case_pro=  case1234.merge(province_df,how='left',left_on='province_of_onset',right_on = 'province') 
case_pro

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,province,6 ภูมิภาค (ภูมิศาสตร์)
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,กรุงเทพมหานคร,กลาง
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,กรุงเทพมหานคร,กลาง
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,นครปฐม,กลาง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,กรุงเทพมหานคร,กลาง
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,กรุงเทพมหานคร,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3249474,3226693,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
3249475,3226694,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
3249476,3226695,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
3249477,3226696,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
3249478,3226697,15/3/2022,14/3/2022,หญิง,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN

In [60]:
case_pro2=  case234.merge(province_df,how='left',left_on='province_of_onset',right_on = 'province') 
case_pro2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,province,6 ภูมิภาค (ภูมิศาสตร์)
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2409703,3226693,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
2409704,3226694,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
2409705,3226695,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
2409706,3226696,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
2409707,3226697,15/3/2022,14/3/2022,หญิง,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN

In [61]:
case_pro34 = case34.merge(province_df,how='left',left_on='province_of_onset',right_on = 'province') 
case_pro34

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,province,6 ภูมิภาค (ภูมิศาสตร์)
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ลำปาง,เหนือ
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ลำปาง,เหนือ
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ลำปาง,เหนือ
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ลำปาง,เหนือ
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,ลำปาง,เหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1367535,3226693,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
1367536,3226694,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
1367537,3226695,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
1367538,3226696,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
1367539,3226697,15/3/2022,14/3/2022,หญิง,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN

In [62]:
case_pro4 = case3.merge(province_df,how='left',left_on='province_of_onset',right_on = 'province')
case_pro4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,province,6 ภูมิภาค (ภูมิศาสตร์)
0,2869617,28/2/2022,27/2/2022,ชาย,41.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา,พะเยา,เหนือ
1,2869618,28/2/2022,27/2/2022,หญิง,45.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา,พะเยา,เหนือ
2,2869619,28/2/2022,27/2/2022,หญิง,40.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา,พะเยา,เหนือ
3,2869620,28/2/2022,27/2/2022,ชาย,44.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา,พะเยา,เหนือ
4,2869621,28/2/2022,27/2/2022,ชาย,11.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา,พะเยา,เหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN,NaN

case+province+lab

In [63]:
case_pro_lab4 = case_pro4.merge(lab_clean,how='left',left_on='province',right_on = 'province')
case_pro_lab4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,...,telephone,address,website,healtharea,agency,district,area,npsts,pooledsaliva,pooledswab
0,2869617,28/2/2022,27/2/2022,ชาย,41.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,...,0-5440-9300,269 ถ. พหลโยธิน ต.บ้านต๋อม อ.เมือง จ.พะเยา 56000,http://www.phayaohospital.go.th/,เขต 1,ภาครัฐ,เมืองพะเยา,ต่างจังหวัด,เปิดตรวจแล้ว,ไม่ระบุ,เปิดตรวจแล้ว
1,2869617,28/2/2022,27/2/2022,ชาย,41.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,...,0-5441-1111\r\n,660 หมู่ 3 ตำบล ท่าวังทอง อำเภอ เมือง จังหวัด ...,https://www.facebook.com/Phayaoram/,เขต 1,เอกชน,เมืองพะเยา,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
2,2869617,28/2/2022,27/2/2022,ชาย,41.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,...,0-5440-9000,ไม่ระบุ,http://www.ckh.moph.go.th/hospital/,เขต 1,ภาครัฐ,เชียงคำ,ต่างจังหวัด,เปิดตรวจแล้ว,ไม่ระบุ,ไม่ระบุ
3,2869618,28/2/2022,27/2/2022,หญิง,45.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,...,0-5440-9300,269 ถ. พหลโยธิน ต.บ้านต๋อม อ.เมือง จ.พะเยา 56000,http://www.phayaohospital.go.th/,เขต 1,ภาครัฐ,เมืองพะเยา,ต่างจังหวัด,เปิดตรวจแล้ว,ไม่ระบุ,เปิดตรวจแล้ว
4,2869618,28/2/2022,27/2/2022,หญิง,45.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,...,0-5441-1111\r\n,660 หมู่ 3 ตำบล ท่าวังทอง อำเภอ เมือง จังหวัด ...,https://www.facebook.com/Phayaoram/,เขต 1,เอกชน,เมืองพะเยา,ต่างจังหวัด,เปิดตรวจแล้ว,เปิดตรวจแล้ว,เปิดตรวจแล้ว
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7183828,3226693,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7183829,3226694,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7183830,3226695,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7183831,3226696,15/3/2022,14/3/2022,ชาย,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7183832,3226697,15/3/2022,14/3/2022,หญิง,36.943725,ไม่มีข้อมูล,ไม่มีข้อมูล,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN